---
swagger: "2.0"
info:
  description: "Opsgenie OpenAPI Specification"
  version: "2.0.0"
  title: "Opsgenie REST API"
host: "api.opsgenie.com"
schemes:
- "https"
produces:
- "application/json"
security:
- GenieKey: []
paths:
  /v2/alerts/requests/{requestId}:
    get:
      tags:
      - "alert"
      summary: "Get Request Status of Alert"
      description: "Used to track the status and alert details (if any) of the request\
        \ whose identifier is given"
      operationId: "getRequestStatus"
      parameters:
      - name: "requestId"
        in: "path"
        description: "Universally unique identifier of the questioned request"
        required: true
        type: "string"
      responses:
        200:
          description: "Request status information for given id"
          schema:
            $ref: "#/definitions/GetRequestStatusResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-get-request-status"
  /v2/alerts:
    get:
      tags:
      - "alert"
      summary: "List Alerts"
      description: "Returns list of alerts"
      operationId: "listAlerts"
      parameters:
      - name: "query"
        in: "query"
        description: "Search query to apply while filtering the alerts"
        required: false
        type: "string"
      - name: "searchIdentifier"
        in: "query"
        description: "Identifier of the saved search query to apply while filtering\
          \ the alerts"
        required: false
        type: "string"
      - name: "searchIdentifierType"
        in: "query"
        description: "Identifier type of the saved search query. Possible values are\
          \ 'id', or 'name'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "name"
      - name: "offset"
        in: "query"
        description: "Start index of the result set (to apply pagination). Minimum\
          \ value (and also default value) is 0"
        required: false
        type: "integer"
        minimum: 0
        format: "int32"
      - name: "limit"
        in: "query"
        description: "Maximum number of items to provide in the result. Must be a\
          \ positive integer value. Default value is 20 and maximum value is 100"
        required: false
        type: "integer"
        maximum: 100
        minimum: 1
        format: "int32"
      - name: "sort"
        in: "query"
        description: "Name of the field that result set will be sorted by"
        required: false
        type: "string"
        default: "createdAt"
        enum:
        - "createdAt"
        - "updatedAt"
        - "tinyId"
        - "alias"
        - "message"
        - "status"
        - "acknowledged"
        - "isSeen"
        - "snoozed"
        - "snoozedUntil"
        - "count"
        - "lastOccurredAt"
        - "source"
        - "owner"
        - "integration.name"
        - "integration.type"
        - "report.ackTime"
        - "report.closeTime"
        - "report.acknowledgedBy"
        - "report.closedBy"
      - name: "order"
        in: "query"
        description: "Sorting order of the result set"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
      responses:
        200:
          description: "List of alert informations"
          schema:
            $ref: "#/definitions/ListAlertsResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
            X-Paging-Prev:
              type: "string"
              description: "Previous page url"
            X-Paging-Next:
              type: "string"
              description: "Next page url"
            X-Paging-First:
              type: "string"
              description: "First page url"
            X-Paging-Last:
              type: "string"
              description: "Last page url"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-list-alerts"
      x-collapse-params: "ListAlertsRequest"
    post:
      tags:
      - "alert"
      summary: "Create Alert"
      description: "Creates a new alert"
      operationId: "createAlert"
      parameters:
      - in: "body"
        name: "body"
        description: "Request payload of created alert"
        required: true
        schema:
          $ref: "#/definitions/CreateAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-create-alert"
  /v2/alerts/{identifier}:
    get:
      tags:
      - "alert"
      summary: "Get Alert"
      description: "Returns alert with given id, tiny id or alias"
      operationId: "getAlert"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      responses:
        200:
          description: "Alert information for given identifier"
          schema:
            $ref: "#/definitions/GetAlertResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-get-alert"
      x-collapse-params: "GetAlertRequest"
    delete:
      tags:
      - "alert"
      summary: "Delete Alert"
      description: "Deletes an alert using alert id, tiny id or alias"
      operationId: "deleteAlert"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - name: "user"
        in: "query"
        description: "Display name of the request owner"
        required: false
        type: "string"
      - name: "source"
        in: "query"
        description: "Display name of the request source"
        required: false
        type: "string"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-delete-alert"
      x-collapse-params: "DeleteAlertRequest"
  /v2/alerts/{identifier}/acknowledge:
    post:
      tags:
      - "alert"
      summary: "Acknowledge Alert"
      description: "Acknowledges alert with given identifier"
      operationId: "acknowledgeAlert"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of acknowledging alert action"
        required: false
        schema:
          $ref: "#/definitions/AcknowledgeAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-acknowledge-alert"
      x-collapse-params: "AcknowledgeAlertRequest"
  /v2/alerts/{identifier}/unacknowledge:
    post:
      tags:
      - "alert"
      summary: "UnAcknowledge Alert"
      description: "UnAcknowledge alert with given identifier"
      operationId: "unAcknowledgeAlert"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of unacknowledging alert action"
        required: false
        schema:
          $ref: "#/definitions/UnAcknowledgeAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-unacknowledge-alert"
      x-collapse-params: "UnAcknowledgeAlertRequest"
  /v2/alerts/{identifier}/close:
    post:
      tags:
      - "alert"
      summary: "Close Alert"
      description: "Closes alert with given identifier"
      operationId: "closeAlert"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of closing alert action"
        required: false
        schema:
          $ref: "#/definitions/CloseAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-close-alert"
      x-collapse-params: "CloseAlertRequest"
  /v2/alerts/{identifier}/snooze:
    post:
      tags:
      - "alert"
      summary: "Snooze Alert"
      description: "Snooze alert with given identifier"
      operationId: "snoozeAlert"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of snoozing alert action"
        required: true
        schema:
          $ref: "#/definitions/SnoozeAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-snooze-alert"
      x-collapse-params: "SnoozeAlertRequest"
  /v2/alerts/{identifier}/escalate:
    post:
      tags:
      - "alert"
      summary: "Escalate Alert"
      description: "Escalate alert with given identifier"
      operationId: "escalateAlert"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of escalating alert action"
        required: true
        schema:
          $ref: "#/definitions/EscalateAlertToNextPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-escalate-alert-to-next"
      x-collapse-params: "EscalateAlertRequest"
  /v2/alerts/{identifier}/assign:
    post:
      tags:
      - "alert"
      summary: "Assign Alert"
      description: "Assign alert with given identifier"
      operationId: "assignAlert"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of assigning alert action"
        required: true
        schema:
          $ref: "#/definitions/AssignAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-assign-alert"
      x-collapse-params: "AssignAlertRequest"
  /v2/alerts/{identifier}/responders:
    post:
      tags:
      - "alert"
      summary: "Add Responder"
      description: "Add responder to alert with given identifier"
      operationId: "addResponder"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of adding responder to alert action"
        required: true
        schema:
          $ref: "#/definitions/AddResponderToAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-add-responder-to-alert"
      x-collapse-params: "AddResponderToAlertRequest"
  /v2/alerts/{identifier}/teams:
    post:
      tags:
      - "alert"
      summary: "Add Team"
      description: "Add team to alert with given identifier"
      operationId: "addTeam"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of adding team to alert action"
        required: true
        schema:
          $ref: "#/definitions/AddTeamToAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-add-team-to-alert"
      x-collapse-params: "AddTeamToAlertRequest"
  /v2/alerts/{identifier}/actions/{actionName}:
    post:
      tags:
      - "alert"
      summary: "Custom Alert Action"
      description: "Custom actions for the alert"
      operationId: "executeCustomAlertAction"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - name: "actionName"
        in: "path"
        description: "Name of the action to execute"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Request payload of executing custom alert action"
        required: false
        schema:
          $ref: "#/definitions/ExecuteCustomAlertActionPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-execute-custom-action"
      x-collapse-params: "ExecuteCustomAlertActionRequest"
  /v2/alerts/{identifier}/recipients:
    get:
      tags:
      - "alert"
      summary: "List Alert Recipients"
      description: "List alert recipients for the given alert identifier"
      operationId: "listRecipients"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      responses:
        200:
          description: "Returns alert recipients for the given alert identifier"
          schema:
            $ref: "#/definitions/ListAlertRecipientsResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-list-alert-recipients"
      x-collapse-params: "ListAlertRecipientsRequest"
  /v2/alerts/{identifier}/logs:
    get:
      tags:
      - "alert"
      summary: "List Alert Logs"
      description: "List alert logs for the given alert identifier"
      operationId: "listLogs"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - name: "offset"
        in: "query"
        description: "Starting value of the offset property"
        required: false
        type: "string"
      - name: "direction"
        in: "query"
        description: "Page direction to apply for the given offset with 'next' and\
          \ 'prev'"
        required: false
        type: "string"
        default: "next"
        enum:
        - "next"
        - "prev"
      - name: "limit"
        in: "query"
        description: "Maximum number of items to provide in the result. Must be a\
          \ positive integer value. Default value is 20 and maximum value is 100"
        required: false
        type: "integer"
        maximum: 100
        minimum: 1
        format: "int32"
      - name: "order"
        in: "query"
        description: "Sorting order of the result set"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
      responses:
        200:
          description: "Returns alert logs for the given alert identifier"
          schema:
            $ref: "#/definitions/ListAlertLogsResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
            X-Paging-Next:
              type: "string"
              description: "Next page url"
            X-Paging-First:
              type: "string"
              description: "First page url"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-list-alert-logs"
      x-collapse-params: "ListAlertLogsRequest"
  /v2/alerts/{identifier}/attachments:
    get:
      tags:
      - "alert"
      summary: "List Alert Attachments"
      description: "List alert attachment names and urls for related alert"
      operationId: "listAttachments"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "alertIdentifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      responses:
        200:
          description: "Returns name and url for given identifier"
          schema:
            $ref: "#/definitions/ListAlertAttachmentsResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-list-alert-attachments"
      x-collapse-params: "ListAlertAttachmentsRequest"
    post:
      tags:
      - "alert"
      summary: "Add Alert Attachment"
      description: "Add Alert Attachment to related alert"
      operationId: "addAttachment"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "alertIdentifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - name: "file"
        in: "formData"
        description: "Attachment file to be uploaded"
        required: true
        type: "file"
      - name: "user"
        in: "formData"
        description: "Display name of the request owner"
        required: false
        type: "string"
      - name: "indexFile"
        in: "formData"
        description: "Name of html file which will be shown when attachment clicked\
          \ on UI"
        required: false
        type: "string"
      responses:
        201:
          description: "Returns attachment id"
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Corrupted file"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-create-alert-attachment"
      x-collapse-params: "AddAttachmentToAlertRequest"
  /v2/alerts/{identifier}/attachments/{attachmentId}:
    get:
      tags:
      - "alert"
      summary: "Get Alert Attachment"
      description: "Get alert attachment name and url for the given identifier"
      operationId: "getAttachment"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "alertIdentifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - name: "attachmentId"
        in: "path"
        description: "Identifier of alert attachment"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns name and url for given identifier"
          schema:
            $ref: "#/definitions/GetAlertAttachmentResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-get-alert-attachment"
      x-collapse-params: "GetAlertAttachmentRequest"
    delete:
      tags:
      - "alert"
      summary: "Remove Alert Attachment"
      description: "Remove alert attachment for the given identifier"
      operationId: "removeAttachment"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "alertIdentifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - name: "attachmentId"
        in: "path"
        description: "Identifier of alert attachment"
        required: true
        type: "integer"
        format: "int64"
      - name: "user"
        in: "query"
        description: "Display name of the request owner"
        required: false
        type: "string"
      responses:
        200:
          description: "Returns deleted messsage for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        429:
          description: "Throttling"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/ErrorResponse"
      externalDocs:
        description: "For more information"
        url: "https://www.opsgenie.com/docs/alert-api#section-delete-alert-attachment"
      x-collapse-params: "RemoveAttachmentFromAlertRequest"
  /v2/alerts/{identifier}/tags:
    post:
      tags:
      - "alert"
      summary: "Add Tags"
      description: "Add tags to the alert with given identifier"
      operationId: "addTags"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Identifier of alert which could be alert id, tiny id or alert\
          \ alias"
        required: true
        type: "string"
      - name: "identifierType"
        in: "query"
        description: "Type of the identifier that is provided as an in-line parameter.\
          \ Possible values are 'id', 'alias' or 'tiny'"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "alias"
        - "tiny"
      - in: "body"
        name: "body"
        description: "Request payload of creating alert tags action"
        required: true
        schema:
          $ref: "#/definitions/AddTagsToAlertPayload"
      responses:
        202:
          description: "Returns request id for this async operation."
          schema:
            $ref: "#/definitions/SuccessResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
            X-RateLimit-State:
              type: "string"
              description: "Status of rate limit"
            X-RateLimit-Reason:
              type: "string"
              description: "Source of the rate limit"
            X-RateLimit-Period-In-Sec:
              type: "string"
              description: "Time of throttle in seconds"
        400:
          description: "Invalid JSON body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        401:
          description: "apiKey is invalid or integration is disabled"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        402:
          description: "apiKey is valid but the account cannot do this action because\
            \ of subscription plan"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        403:
          description: "apiKey is valid but the apiKey cannot do this operation because\
            \ of permissions"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        404:
          description: "Entity cannot be found for the given identifier"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
              description: "Process time of given request"
        422:
          description: "Semantic errors in request body"
          schema:
            $ref: "#/definitions/ErrorResponse"
          headers:
            X-Request-ID:
              type: "string"
              description: "Id of given request"
            X-Response-Time:
              type: "string"
[...]
